<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pygmentizr</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="{{ url_for('static', filename='pygmentizr.css' )}}" rel="stylesheet">
    <style>{{ css }}</style>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  </head>

  <body>

    <div class="container content">

      <div class="page-header">
        <h1>Pygmentizr</h1>
      </div>

      <p>Pygmentizr is an tool for highlighting code using the <a href="http://pygments.org/">Pygments library</a>. You can enter some code below, select the language, and it gives you the rendered HTML suitable to drop into an email, forum post or web page.</p>

      <hr>

      <div class="form-group">
        <form action="" method="post" name="login" id="pygmentsForm">
          {{ form.hidden_tag() }}
          <p>{{ form.code(rows="6", placeholder="Enter your code here", class="form-control") }}</p>
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12" style="padding-right: 20px;">
              <p>{{ form.language() }}</p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12" style="padding-right: 20px;" id="stylePicker">
              <p>{{ form.style() }}</p>
            </div>
            <div class="col-md-3 col-xs-12" style="float: right;"><p>
              <button type="submit" class="btn btn-primary pull-right">Pygmentize!</button>
              <button type="reset" class="btn btn-danger pull-right"><a href="/">Reset</a></button>
            </p></div>
          </div>
        </form>
      </div>

      {% if html_code %}
      <hr>
      <p style="margin-bottom: 15px;">This is your HTML:</p>
      <textarea rows="6" class="form-control">
{{ html_code }}
      </textarea>
      <p style="margin-top: 15px; margin-bottom: 15px;">and here's a preview:</p>
      {{ html_to_display | safe }}
      {% endif %}

      <footer>
        <hr>
        <p>Written by <a href="http://www.alexwlchan.net">Alex Chan</a>. Code <a href="https://github.com/alexwlchan/pygmentizr">on GitHub</a>.</p>
      </footer>

    </div>

    <!-- If #metacom is in the URL, auto-select the "For Metacom" dropdown -->
    <script>
    </script>

  </body>
</html>

